[include fluidd.cfg]
#################################################
#                     By                        #
#             Ethereal Project 3D               #
#          www.etherealproject3d.com            #
#     www.youtube.com/c/etherealproject3d       #
#################################################

############################################################################################################################################
#                                                                                                                                          #
#                                                                    NOTE:                                                                 #
#   I used the printer.cfg created by "freakydude" from the Klipper gethub page as a starting point and edited it for this application.    #
#                                                          You can find the origional here;                                                #
#                     https://github.com/Klipper3d/klipper/blob/master/config/printer-artillery-sidewinder-x2-2022.cfg                     #
############################################################################################################################################ 

# This file contains pin mappings for the Artillery Sidewinder X2 (2022) with a Artillery_Ruby-v1.2 board.
# To use this config, during "make menuconfig"

#                         Klipper Firmware Configuration
#[*] Enable extra low-level configuration options
#    Micro-controller Architecture (STMicroelectronics STM32)  --->
#    Processor model (STM32F401)  --->
#    Bootloader offset (No bootloader)  --->
#    Clock Reference (8 MHz crystal)  --->
#    Communication interface (USB (on PA11/PA12))  --->
#    USB ids  --->
#()  GPIO pins to set at micro-controller startup

#############################
# PRINTER SETTINGS
#############################

[exclude_object]

#[include KAMP_Settings.cfg] ; ##### (UNCOMMENT IF USING KAMP)
[firmware_retraction]
retract_length: 1
[include mainsail.cfg]
[include start.cfg]
[include end.cfg]
[include macros.cfg]
[include NozzleClean.cfg]
[include Eddy2026.cfg]

[pause_resume]

[display_status]

[virtual_sdcard]
path: /home/alon/printer_data/gcodes ; Path may be different for your install, your web interface will give you and error for the expected path, copy and paste expected path here
on_error_gcode: CANCEL_PRINT

#mcu init for relays
[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/ttyACM0

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1500
max_z_velocity: 50
max_z_accel: 600
square_corner_velocity: 5.0

[filament_switch_sensor filament]
pause_on_runout: True # Starts the PAUSE g-code script if filament runs out
runout_gcode: M117 Filament runout # Optional
insert_gcode: M117 Filament insert # Optional
switch_pin: PA0 # the z-endstop pin

#light control
[output_pin lights]
pin: !rpi:gpio15
value: 1
shutdown_value: 0
#psu control
[output_pin psu]
pin: !rpi:gpio14
value: 1
shutdown_value: 0

#############################
# INPUT SHAPER
#############################

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 55.2
shaper_type_y = 2hump_ei
shaper_freq_y = 51.6

#############################
# MOTION AXES
#############################

[stepper_x]
step_pin: !PB14
dir_pin: PB13
enable_pin: !PB15
microsteps: 16
rotation_distance: 39.42078
endstop_pin: !PA2
position_endstop: 0
position_max: 303
homing_speed: 200
second_homing_speed: 100

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB12
microsteps: 16
rotation_distance: 39.3409
endstop_pin: !PA1
position_endstop: 3
position_max: 310
homing_speed: 200
second_homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 7.8207
endstop_pin: probe:z_virtual_endstop #!PC2
#position_endstop: 0

position_max: 400
position_min: -5
homing_speed: 25
second_homing_speed: 10

[extruder]
step_pin: PA7
dir_pin: PA6
enable_pin: !PC4
microsteps: 16
rotation_distance: 21.1691
gear_ratio: 66:22
nozzle_diameter: 0.4000 #0.800
filament_diameter: 1.750
max_extrude_only_distance: 1000
max_extrude_cross_section: 5
pressure_advance: 0.0

#############################
# THERMAL SETTINGS
#############################

[extruder]
heater_pin: PC9
#sensor_type: Generic 3950 ; Common sensor for all metal solution, always reffer to your sensors documentation and the Klipper config refference to ensure correct deffinition
sensor_type: EPCOS 100K B57560G104F ; Stock sensor
sensor_pin: PC0
control: pid
pid_kp: 23.059
pid_ki: 1.337
pid_kd: 99.442
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_kp: 50.058
pid_ki: 0.917
pid_kd: 683.293
min_temp: 0
max_temp: 130

[fan]
pin: PC8
off_below: 0.1

[heater_fan extruder]
pin: PC7
off_below: 0.2

[controller_fan case]
pin: PC6
off_below: 0.3
idle_speed: 0.0

[temperature_sensor mainboard]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 60

#############################
# LEVELING
#############################

#[safe_z_home]
#home_xy_position: 122.5,180
#z_hop: 10
#speed: 125

#[bltouch]
#sensor_pin: PC2
#control_pin: PC3
#x_offset: 27.25
#y_offset: -12.8
##z_offset: 2.0
#speed: 5
#samples: 2
#sample_retract_dist: 8
#samples_tolerance: 0.050
#samples_tolerance_retries: 3

#[bed_mesh]
#speed: 150
#horizontal_move_z: 10
#mesh_min: 30, 15
#mesh_max: 270, 285
#probe_count: 5
#fade_start: 1
#fade_end: 10
#fade_target: 0
#mesh_pps: 2
#algorithm: bicubic

[bed_screws]
screw1: 50,50
screw1_name: front left
screw2: 250,50
screw2_name: front right
screw3: 250,250
screw3_name: back right
screw4: 50,250
screw4_name: back left
speed: 125

[screws_tilt_adjust]
screw1: 22.75,62.8
screw1_name: front left
screw2: 222.75,62.8
screw2_name: front right
screw3: 222.75,262.8
screw3_name: back right
screw4: 22.75,262.8
screw4_name: back left
speed: 125
screw_thread: CW-M5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.048879:3202773.370,0.090427:3201972.994,0.129530:3201200.612,
#*# 	0.171078:3200386.164,0.210181:3199620.491,0.249285:3198832.762,
#*# 	0.290832:3198049.752,0.329936:3197278.035,0.369039:3196527.605,
#*# 	0.410587:3195767.234,0.449690:3195044.882,0.488794:3194310.324,
#*# 	0.530341:3193549.528,0.569445:3192841.794,0.610992:3192120.199,
#*# 	0.650096:3191438.373,0.689199:3190744.769,0.730747:3190053.756,
#*# 	0.769850:3189382.806,0.808954:3188735.848,0.850501:3188071.825,
#*# 	0.889605:3187451.152,0.931152:3186797.465,0.970256:3186181.853,
#*# 	1.009359:3185572.236,1.050907:3184976.560,1.090010:3184389.657,
#*# 	1.129114:3183819.354,1.170661:3183237.024,1.209765:3182668.894,
#*# 	1.248868:3182117.097,1.290416:3181531.585,1.329519:3180983.231,
#*# 	1.371066:3180428.986,1.410170:3179885.155,1.449273:3179371.286,
#*# 	1.490821:3178829.536,1.529924:3178317.540,1.569028:3177809.762,
#*# 	1.610575:3177292.154,1.649679:3176795.907,1.688782:3176326.396,
#*# 	1.730330:3175811.409,1.769433:3175345.185,1.810981:3174868.745,
#*# 	1.850084:3174408.871,1.889188:3173959.243,1.930735:3173510.346,
#*# 	1.969839:3173062.174,2.008942:3172642.377,2.050490:3172198.322,
#*# 	2.089593:3171790.977,2.131141:3171355.860,2.170244:3170954.136,
#*# 	2.209348:3170546.780,2.250895:3170146.590,2.289999:3169771.108,
#*# 	2.329102:3169398.263,2.370650:3169012.798,2.409753:3168645.302,
#*# 	2.448857:3168288.102,2.490404:3167914.130,2.529508:3167566.620,
#*# 	2.571055:3167205.709,2.610159:3166875.869,2.649262:3166540.275,
#*# 	2.690810:3166193.837,2.729913:3165855.972,2.769017:3165549.807,
#*# 	2.810564:3165210.941,2.849668:3164902.222,2.891215:3164577.788,
#*# 	2.930319:3164289.621,2.969422:3163978.071,3.010970:3163664.434,
#*# 	3.050073:3163383.758,3.089177:3163102.081,3.130724:3162813.735,
#*# 	3.169827:3162532.807,3.208931:3162266.088,3.250478:3161997.290,
#*# 	3.289582:3161726.618,3.331129:3161486.297,3.370233:3161239.547,
#*# 	3.409336:3161002.301,3.450884:3160754.820,3.489987:3160523.374,
#*# 	3.529091:3160296.980,3.570638:3160077.960,3.609742:3159860.415,
#*# 	3.648845:3159650.067,3.690393:3159436.025,3.729496:3159230.666,
#*# 	3.771044:3159017.911,3.810147:3158827.601,3.849251:3158624.308,
#*# 	3.890798:3158430.769,3.929902:3158229.359,3.969005:3158037.693,
#*# 	4.010553:3157859.715,4.049656:3157658.326
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 43.660129
